*{
        margin: 0;
        padding: 0;
}
body{
    background: linear-gradient(20deg, rgb(94, 94, 236), rgb(240, 138, 155), rgb(192, 105, 192));
    height: 100vh;
    /* background: non; */
}
#nav{
    display: flex;
    justify-content: space-around;
    height: 15%;
    align-items: center;
    border: 7px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(2, 2, 2, .2);
}
.button{
    height: 30px;
    width: max-content;
    border: 3px solid rgba(0, 0, 0, 0.6);
    background: linear-gradient(60deg, rgba(48, 45, 45, 0.507), rgba(50, 50, 187, 0.562));
    color: white;
}
#main{
    height: 15%;
    border: 7px solid rgba(44, 44, 61, 0.685);
}
#Txt{
    text-align: center;
}
#arraySec{
    /* height: 15%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 7px solid rgba(44, 44, 61, 0.685);
    border-radius: 12%; */
}
#mainTxt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border: 7px solid rgba(44, 44, 61, 0.685);
}
.arraySpan{
    margin: 10px;
    border: 2px solid black;
    height: 20px;
    width: max-content;
    text-align: center;
}
#result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border: 7px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(2, 2, 2, .2);
}
#resultTxt{
    font-size: x-large;
}
#Txt{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-decoration: underline;
}