*{
        margin: 0;
        padding: 0;
}
body{
    background: linear-gradient(20deg, rgb(94, 94, 236), rgb(240, 138, 155), rgb(192, 105, 192));
    /* background: linear-gradient(270deg, #cc2b5eee , #743a88ee); */
    height: 120vh;
    /* background: non; */
}
#nav{
    display: flex;
    /* justify-content: space-between; */
    height: 13%;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0.54);
    background-color: rgba(2, 2, 2, .2);
}
span.input{
    margin: 4px;
}
.button{
    height: 30px;
    width: max-content;
    border: 2px solid rgba(0, 0, 0, 0.61);
    border-radius: 2px;
    /* background: linear-gradient(60deg, rgba(48, 45, 45, 0.507), rgba(50, 50, 187, 0.562)); */
    background-color: rgba(12, 39, 66, 0.349);
    color: rgb(44, 31, 31);
}
#main{
    height: 13%;
    border: 3px solid rgba(44, 44, 61, 0.685);
}
#Txt{
    text-align: center;
}
#arraySec{
    /* height: 15%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 7px solid rgba(44, 44, 61, 0.685);
    border-radius: 12%; */
}
#mainTxt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    border: 3px solid rgba(44, 44, 61, 0.54);
}
.arraySpan{
    margin: 10px;
    border: 2px solid black;
    height: 20px;
    width: max-content;
    text-align: center;
    height: max-content;
}
#result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    border:3px solid rgba(0, 0, 0, 0.54);
    background-color: rgba(2, 2, 2, .2);
}
#resultTxt{
    font-size: x-large;
}
#Txt{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-decoration: underline;
}
.sec{
    height: 48%;
}
input{
    background-color: rgba(25, 25, 25, 0.336);
    text-align: center;
}
input:focus{
    background-color: rgba(55, 44, 88, 0.364);
    border: 2px solid rgba(37, 23, 23, 0.803);
}
select{
    background-color: rgba(55, 44, 88, 0.364);
}
select:focus{
    background-color: rgba(55, 44, 88, 0.364);
    border: 2px solid rgba(27, 23, 23, 0.811);
}
option{
    background-color: rgba(64, 0, 255, 0.227);
}